<%- include('partials/header', {title:`Notifications - Bagelfunds!`})%> <%-
include('partials/navbarUser') %>
<div class="bg-bagel container-fluid min-vh-100">
  <% if (success) { %>
  <div class="alert alert-success my-3">
    <% if (success === 'join') { %> Joined cycle successfully <% } else if
    (success === 'not-join') { %> Not joined this cycle, maybe next time? <% }
    %>
  </div>
  <% } %> <% if (inviteInfo.length === 0) { %>
  <div
    class="container min-vh-100 d-flex flex-column align-items-center justify-content-center"
  >
    <h1 class="font-override">No new notifications!</h1>
    <h3 class="font-override">Start a cycle?</h3>
  </div>
  <% } else {%>
  <div class="container my-5 text-center">
    <h1 class="font-override my-5">You have pending Invites</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4 my-3">
      <% inviteInfo.forEach(invite => { %>
      <div class="col">
        <div class="card font-override text-bg-primary bg-opacity-75">
          <div class="card-header">
            You're Invited by <%= invite.invitername %> to join his cycle!
          </div>
          <div class="card-body">
            <div class="card-text">
              <div class="row">
                <div class="col-md-5 text-md-end my-1">
                  <b>Hosted By:</b>
                </div>
                <div class="col-md-7 text-md-start my-1">
                  <%= invite.invitername %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 text-md-end my-1">
                  <b>Session Frequency:</b>
                </div>
                <div class="col-md-7 text-md-start my-1">
                  <% if ('days' in invite.cyclefreq && invite.cyclefreq['days']
                  === 1) { %> daily <% } else if ('days' in invite.cyclefreq &&
                  invite.cyclefreq['days'] === 7) {%> weekly <% } else if
                  ('months' in invite.cyclefreq) {%> monthly <% } %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5 text-md-end my-1">
                  <b>Session Payment:</b>
                </div>
                <div class="col-md-7 text-md-start my-1">
                  <%= invite.sessionpayment %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 my-2">
                  <form
                    action="/handle/<%=invite.inviteid%>?_method=DELETE"
                    method="POST"
                  >
                    <input
                      type="submit"
                      id="start"
                      class="btn btn-danger"
                      value="Not Interested..."
                    />
                  </form>
                </div>
                <div class="col-md-6 my-2">
                  <form action="/handle/<%=invite.inviteid%>" method="POST">
                    <input
                      type="submit"
                      id="start"
                      class="btn btn-primary"
                      value="Join Cycle!"
                    />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <% } %>
  </div>
</div>
<%-include('partials/footer') %>
